<?xml version="1.0" encoding="UTF-8"?>
<Configuration package="log4j.test" status="WARN">
<Appenders>
    <Console name="Console" target="SYSTEM_OUT">
        <PatternLayout pattern="%d{ISO8601} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <RollingFile name="File" fileName="/var/log/boiler/boiler.log" filePattern="/var/log/boiler/boiler.log.%d{yyyy-MM-dd}" >
		<PatternLayout pattern="%d{ISO8601} [%t] %-5level %logger{36} - %msg%n"/>
		<Policies>
			<TimeBasedTriggeringPolicy />
		</Policies>
		<DefaultRolloverStrategy max="4"/>
	</RollingFile>
	<RollingFile name="powerFile" fileName="/var/log/boiler/power.log" filePattern="/var/log/boiler/power.log.%d{yyyy-MM-dd}" >
		<PatternLayout pattern="%d{ISO8601} %msg%n"/>
		<Policies>
			<TimeBasedTriggeringPolicy />
		</Policies>
		<DefaultRolloverStrategy max="30"/>
	</RollingFile>
	<RollingFile name="fillLevelFile" fileName="/var/log/boiler/fillLevel.log" filePattern="/var/log/boiler/fillLevel.log.%d{yyyy-MM-dd}" >
		<PatternLayout pattern="%d{ISO8601} %msg%n"/>
		<Policies>
			<TimeBasedTriggeringPolicy />
		</Policies>
		<DefaultRolloverStrategy max="30"/>
	</RollingFile>
</Appenders>
<Loggers>
    <Logger name="log4j.test.Log4jTest" level="trace">
        <AppenderRef ref="Console"/>
    </Logger>
     <Logger name="de.schleger.boiler.boiler.BoilerControllerGPIOImpl">
        <appender-ref ref="powerFile"/>
    </Logger>
    <Logger name="de.schleger.boiler.information.FillLevel">
        <appender-ref ref="fillLevelFile"/>
    </Logger>
    <Root level="trace">
        <AppenderRef ref="Console"/>
        <AppenderRef ref="File"/>
    </Root>
</Loggers>
</Configuration>